.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Điều chỉnh phần tử h2 */
h2 {
  font-size: 24px; /* Kích thước font */
  font-weight: bold; /* Đậm */
  margin-bottom: 20px; /* Khoảng cách dưới */
}

/* Các quy tắc CSS khác */
.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}
.btn-primary {
  background-color: #41c9e2; /* Màu nền */
  color: #fff;
  padding: 10px 30px; /* Kích thước nút */
  border-radius: 4px;
  font-size: 30px; /* Kích thước font */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}
.btn-primary:hover {
  background-color: #0056b3;
}
